asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
dj-database-url==2.3.0
django==5.2.1
django-auth0==0.0.3
django-extensions==4.1
gunicorn==23.0.0
idna==3.10
packaging==25.0
psycopg2-binary==2.9.10
raven==6.10.0
requests==2.32.3
sqlparse==0.5.3
typing-extensions==4.13.2
urllib3==2.4.0
voluptuous==0.15.2
whitenoise==6.9.0
python-dotenv==1.1.0